<?xml version="1.0" encoding="utf-8"?>
<!--
  Only the user-settings defaults live here now.

  The startup, runtime and system.web elements were .NET Framework directives that
  modern .NET ignores: TLS and long-path behaviour are the defaults there, assembly
  binding redirects no longer exist, and the client application services were never
  used. The NLog section moved to NLog.config, which both runtimes read.
-->
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Spotnet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <Spotnet.Properties.Settings>
      <setting name="Unique" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LastRun" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FirstRun" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="NumberOfRuns" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="HeaderGroup" serializeAs="String">
        <value>free.pt</value>
      </setting>
      <setting name="NZBGroup" serializeAs="String">
        <value>alt.binaries.ftd</value>
      </setting>
      <setting name="ReplyGroup" serializeAs="String">
        <value>free.usenet</value>
      </setting>
      <setting name="ReportGroup" serializeAs="String">
        <value>free.willey</value>
      </setting>
      <setting name="CheckSignatures" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DownloadAction" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DownloadFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="Nickname" serializeAs="String">
        <value />
      </setting>
      <setting name="Tagname" serializeAs="String">
        <value />
      </setting>
      <setting name="Avatar" serializeAs="String">
        <value />
      </setting>
      <setting name="FontSize" serializeAs="String">
        <value>14</value>
      </setting>
      <setting name="NzbGetRefresh" serializeAs="String">
        <value>1500</value>
      </setting>
      <setting name="SystemTray" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GoogleSuggest" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GoogleAnalytics" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowComments" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SaveTabs" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LastFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="Moderator" serializeAs="String">
        <value />
      </setting>
      <setting name="MaxResults" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="SortColumn" serializeAs="String">
        <value>rowid</value>
      </setting>
      <setting name="SortDirection" serializeAs="String">
        <value>DESC</value>
      </setting>
      <setting name="Columns" serializeAs="String">
        <value>01020304000005080000</value>
      </setting>
      <setting name="AdvancedSearch" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ExternalBrowser" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DatabaseMax" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DatabaseCount" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DatabaseCache" serializeAs="String">
        <value>72500</value>
      </setting>
      <setting name="DatabaseFilter" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ExternalSigning" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="KeysURL" serializeAs="String">
        <value />
      </setting>
      <setting name="WhitelistURL" serializeAs="String">
        <value />
      </setting>
      <setting name="BlacklistURL" serializeAs="String">
        <value />
      </setting>
      <setting name="EnableLogging" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SpotsListType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="VisibleStatusBar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="VisibleSearch" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="VisibleFilters" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="VisibleAddFilter" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="VisibleMainMenu" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="VisibleLeftPanel" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DatabaseMin" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ApplicationVersion" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DbAutoUpdateIntervalMin" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="ShowEroticaInSearchResults" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DbAutoUpdateEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DbUpdateCompressionEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ThumbsGroup" serializeAs="String">
        <value>free.at</value>
      </setting>
      <setting name="LoadComments" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UIColor" serializeAs="String">
        <value>Blue</value>
      </setting>
      <setting name="FiltersMode2" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UserLanguage" serializeAs="String">
        <value>nl</value>
      </setting>
      <setting name="IsNewVersion" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="HideCommentsWithLinks" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NumOfSpamReportsToSpotHide" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="VisibleMainToolbar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="HideBlacklistedSpots" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsEnabledUbbForSpot" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsEnabledUbbForComment" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsEnabledSmiles" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowTrustedOnlyEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ExternalListsUpdateInterval" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="SpotWhitelistURL" serializeAs="String">
        <value />
      </setting>
      <setting name="SpotBlacklistURL" serializeAs="String">
        <value />
      </setting>
      <setting name="PromoteSpotnetInComment" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ColumnsSize" serializeAs="String">
        <value />
      </setting>
      <setting name="IsEnabledBadWordsFilterForComment" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DownloadExternalLists" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NzbGetControlIP" serializeAs="String">
        <value>-</value>
      </setting>
      <setting name="NzbGetControlPort" serializeAs="String">
        <value>-</value>
      </setting>
      <setting name="SpotFontSize" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="SpotChunkSize" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="CommentChunkSize" serializeAs="String">
        <value>40000</value>
      </setting>
      <setting name="SpamReportChunkSize" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="ExternalNzbGet" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NzbGetControlUsername" serializeAs="String">
        <value>-</value>
      </setting>
      <setting name="NzbGetControlPassword" serializeAs="String">
        <value>-</value>
      </setting>
      <setting name="RemoveFilesOnDownloadRemove" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="NzbGetDestDir" serializeAs="String">
        <value>-</value>
      </setting>
      <setting name="NzbGetInterDir" serializeAs="String">
        <value>-</value>
      </setting>
      <setting name="NzbGetNzbDir" serializeAs="String">
        <value>-</value>
      </setting>
      <setting name="NzbGetQueueDir" serializeAs="String">
        <value>-</value>
      </setting>
      <setting name="NzbGetTempDir" serializeAs="String">
        <value>-</value>
      </setting>
      <setting name="NzbGetWebDir" serializeAs="String">
        <value>-</value>
      </setting>
      <setting name="NzbGetScriptDir" serializeAs="String">
        <value>-</value>
      </setting>
      <setting name="NzbGetLockFile" serializeAs="String">
        <value>-</value>
      </setting>
      <setting name="NzbGetServer1Host" serializeAs="String">
        <value>-</value>
      </setting>
      <setting name="NzbGetServer1Port" serializeAs="String">
        <value>-</value>
      </setting>
      <setting name="NzbGetServer1Username" serializeAs="String">
        <value>-</value>
      </setting>
      <setting name="NzbGetServer1Password" serializeAs="String">
        <value>-</value>
      </setting>
      <setting name="NzbGetServer1Encryption" serializeAs="String">
        <value>-</value>
      </setting>
      <setting name="ShowFavorites" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="StartXamarinServer" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="XamarinServerPort" serializeAs="String">
        <value>9581</value>
      </setting>
      <setting name="SpotsDbFileMalformed" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CommentsDbFileMalformed" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoShowNewSpotsInTheList" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Retention" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="ColoringSpots" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ColoringFilters" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LeftPanelWidth" serializeAs="String">
        <value>256</value>
      </setting>
      <setting name="LoadImageOnSpotTab" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PlayerVolume" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="DownloaderCacheSizeMb" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="DownloaderRetries" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="DownloaderRetryIntervalSec" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="MigrationFromNzbGetDone" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsCachingEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ConnectionTimeout" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="DataReceivingTimeout" serializeAs="String">
        <value>60000</value>
      </setting>
      <setting name="RecreateDbScheduled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SpeedLimit" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="ColumnsDownloads" serializeAs="String">
        <value>010203040506070000</value>
      </setting>
      <setting name="ColumnsDownloadsSize" serializeAs="String">
        <value />
      </setting>
      <setting name="SortDownloadsDirection" serializeAs="String">
        <value>DESC</value>
      </setting>
      <setting name="SortDownloadsColumn" serializeAs="String">
        <value>Pri</value>
      </setting>
      <setting name="RemovePar2FilesAfterDownload" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DownloaderStartTime" serializeAs="String">
        <value>10/26/2016 14:52:00</value>
      </setting>
      <setting name="DownloaderEndTime" serializeAs="String">
        <value>10/26/2016 14:52:00</value>
      </setting>
      <setting name="DownloaderSchedule" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ActiveTheme" serializeAs="String">
        <value>Default</value>
      </setting>
      <setting name="CommentPreviewShow" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CommentSmilesShow" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ConnectionIdleTimeout" serializeAs="String">
        <value>60000</value>
      </setting>
      <setting name="ConnectionIdleTimeoutSlave" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="SpotDetailsShowNewsreader" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Filter" serializeAs="String">
        <value />
      </setting>
      <setting name="ShowTabToolbar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AvatarFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="SpotImdbShow" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FiltersAreInitialized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PromoLastDate" serializeAs="String">
        <value>2017-01-01</value>
      </setting>
      <setting name="NotifyAboutDownloadComplete" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="QuickCheck" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseSocksProxy" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AllowInvalidServerCertificate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="VPNProvider" serializeAs="String">
        <value>VPNNederland</value>
      </setting>
      <setting name="VPNWarningLastsDate" serializeAs="String">
        <value>2017-01-01</value>
      </setting>
    </Spotnet.Properties.Settings>
  </userSettings>
</configuration>
